body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding: 0 1rem;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}